<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Sign</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
    <link rel="stylesheet" href="index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <div class="global-header">
        <div class="frame">
          <div class="nebula-icon"></div>
          <div class="logo">
            <span class="nebula-edge-university">Nebula Edge University</span>
          </div>
        </div>
        <div class="input-search">
          <div class="input-field">
            <div class="left-input-icon">
              <div class="icon">
                <div class="utility-icons-search">
                  <div class="icon-1"></div>
                </div>
              </div>
            </div>
            <span class="input-content">Search</span>
          </div>
          <input class="input" />
        </div>
        <div class="header-icons">
          <div class="einstien">
            <div class="button-icon-container">
              <div class="icon-2"><div class="icon-3"></div></div>
            </div>
          </div>
          <div class="split-button">
            <div class="grouped-buttons">
              <div class="main-button">
                <div class="container">
                  <div class="icon-4"><div class="icon-5"></div></div>
                </div>
              </div>
              <div class="menu-button">
                <div class="container-6">
                  <div class="icon-7"><div class="icon-8"></div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="new-icon"><div class="icon-9"></div></div>
          <div class="trailhead-icon"><div class="icon-a"></div></div>
          <div class="question-icon"><div class="icon-b"></div></div>
          <div class="setup-icon"><div class="icon-c"></div></div>
          <div class="notification-icon"><div class="icon-d"></div></div>
          <div class="avatar"></div>
        </div>
      </div>
      <div class="global-navigation">
        <div class="tabs">
          <div class="global-navigation-app-name">
            <div class="untracked-icon-waffle"></div>
            <span class="label-text-community">Community</span>
          </div>
          <div class="tab">
            <div class="global-nav-tab-parent">
              <div class="icon-label">
                <span class="label-text-home">Home</span>
              </div>
              <div class="base-button-icon">
                <div class="button-icon-container-e">
                  <div class="utility-icons-switch">
                    <div class="icon-f"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="context-bar"><div class="border"></div></div>
          </div>
          <div class="tab-10">
            <div class="global-navigation-tab-parent">
              <div class="icon-label-11">
                <span class="label-text-accounts">Accounts</span>
              </div>
              <div class="base-button-icon-12">
                <div class="button-icon-container-13">
                  <div class="utility-icons-switch-14">
                    <div class="icon-15"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="context-bar-16"><div class="border-17"></div></div>
          </div>
          <div class="tab-18">
            <div class="global-nav-tab-parent-19">
              <div class="icon-label-1a">
                <span class="label-text-contacts">Contacts</span>
              </div>
              <div class="base-button-icon-1b">
                <div class="button-icon-container-1c">
                  <div class="utility-icons-switch-1d">
                    <div class="icon-1e"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="context-bar-1f"><div class="border-20"></div></div>
          </div>
          <div class="tab-21">
            <div class="global-nav-tab-parent-22">
              <div class="icon-label-23">
                <span class="label-text-service">Service</span>
              </div>
              <div class="base-button-icon-24">
                <div class="button-icon-container-25">
                  <div class="utility-icons-s-switch">
                    <div class="icon-26"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="context-bar-27"><div class="border-28"></div></div>
          </div>
          <div class="tab-29">
            <div class="global-nav-tab-parent-2a">
              <div class="icon-label-2b">
                <span class="label-text">Sales</span>
              </div>
              <div class="base-button-icon-2c">
                <div class="button-icon-container-2d">
                  <div class="utility-icons-s-switch-2e">
                    <div class="icon-2f"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="context-bar-30"><div class="border-31"></div></div>
          </div>
          <div class="tab-32">
            <div class="global-nav-tab-parent-33">
              <div class="icon-label-34">
                <span class="label-text-35">Reports</span>
              </div>
              <div class="base-button-icon-36">
                <div class="button-icon-container-37">
                  <div class="utility-icons-s-switch-38">
                    <div class="icon-39"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="context-bar-3a"><div class="border-3b"></div></div>
          </div>
          <div class="overflow-tab">
            <div class="global-navigation-tab-parent-3c">
              <div class="icon-label-3d">
                <span class="label-text-3e">E Sign Center</span>
              </div>
              <div class="base-button-icon-3f">
                <div class="button-icon-container-40">
                  <div class="utility-icons-s-switch-41">
                    <div class="icon-42"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="context-bar-43"><div class="border-44"></div></div>
          </div>
        </div>
        <div class="edit-button-icon">
          <div class="button-icon-container-45">
            <div class="icon-46"><div class="icon-47"></div></div>
          </div>
        </div>
      </div>
      <div class="global-navigation-console-subtab">
        <div class="subtab">
          <div class="global-nav-tab-parent-48">
            <div class="icon-label-49">
              <span class="label-text-4a">Staff Department Mapping</span>
            </div>
          </div>
        </div>
        <button class="subtab-4b">
          <div class="global-navigation-tab-parent-4c">
            <div class="icon-label-4d">
              <span class="label-text-4e">Student Document Assignment</span>
            </div>
          </div>
        </button>
      </div>
      <div class="rectangle">
        <div class="flex-row">
          <div class="input-field-4f">
            <div class="input-field-base">
              <div class="input-with-label">
                <span class="label">First Name</span>
                <div class="input-50">
                  <input class="input-51" />
                  <div class="content"><span class="text">Enter First Name</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-field-52">
            <div class="input-field-base-53">
              <div class="input-with-label-54">
                <span class="label-55">Last Name</span>
                <div class="input-56">
                  <input class="input-57" />
                  <div class="content-58"><span class="text-59">Enter Last Name</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-field-5a">
            <div class="input-field-base-5b">
              <div class="input-with-label-5c">
                <span class="label-5d">Student Number</span>
                <div class="input-5e">
                  <input class="input-5f" />
                  <div class="content-60">
                    <span class="text-61">JOY043</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-field-62">
            <div class="input-field-base-63">
              <div class="input-with-label-64">
                <span class="label-65">Campus</span>
                <div class="input-66">
                  <select class="form-select" aria-label="Default select example" style="border:none; padding:0;">
                    <option selected>Austin, Tx</option>
                    <option value="1">Austin, Tx</option>
                    <option value="2">Option 1</option>
                    <option value="3">Option 2</option>
                  </select>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row-cfa">
          <span class="document-assigned-status">Document Assigned Status</span>
          <div class="input-field-69">
            <div class="input-field-base-6a">
              <div class="input-with-label-6b">
                <span class="document-assigned-date"
                  >Document Assigned Date</span
                >
                <div class="input-6c">
                  <input class="input-6d" />
                  <div class="content-6e">
                    <span class="text-joy">Enter Assigned Date</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-field-6f">
            <div class="input-field-base-70">
              <div class="input-with-label-71">
                <span class="document-name">Document Name</span>
                <div class="input-72">
                  <div class="content-73">
                <span class="text-joy043">Enter Document Name</span>
                  </div>
                  <div class="help-icon-74">
                    <div class="help-circle-75">
                      <div class="icon-76"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="button" type="submit">
            <div class="button-base">
              <span class="text-search">Search</span>
            </div></button
          ><button class="button-77">
            <div class="button-base-78">
              <span class="text-reset">Reset</span>
            </div>
          </button>
          <div class="checkbox">
            <div class="checkbox-79">
              <div class="checkbox-base">
                <div class="check"><div class="icon-7a"></div></div>
              </div>
            </div>
            <span class="text-both">Both</span>
          </div>
          <div class="checkbox-7b">
            <div class="checkbox-7c"><div class="checkbox-base-7d"></div></div>
            <span class="text-assigned">Assigned</span>
          </div>
          <div class="checkbox-7e">
            <div class="checkbox-7f"><div class="checkbox-base-80"></div></div>
            <span class="text-unassigned">Unassigned</span>
          </div>
        </div>
        <span class="search-results">Search Results</span>
      </div>
      <div class="content-81">
        <div class="column">
          <div class="table-header-cell">
            <div class="checkbox-82"><div class="checkbox-base-83"></div></div>
            <div class="table-header"><span class="text-name">Name</span></div>
          </div>
          <div class="table-cell">
            <div class="checkbox-84"><div class="checkbox-base-85"></div></div>
            <div class="text-supporting-text">
              <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia Rhye</a></span>
            </div>
          </div>
          <div class="table-cell-86">
            <div class="checkbox-87"><div class="checkbox-base-88"></div></div>
            <div class="text-supporting-text-89">
              <span class="text-phoenix-baker">Phoenix Baker</span>
            </div>
          </div>
          <div class="table-cell-8a">
            <div class="checkbox-8b"><div class="checkbox-base-8c"></div></div>
            <div class="text-supporting-text-8d">
              <span class="text-lana-steiner">Lana Steiner</span>
            </div>
          </div>
          <div class="table-cell-8e">
            <div class="checkbox-8f"><div class="checkbox-base-90"></div></div>
            <div class="text-supporting-text-91">
              <span class="text-demi-wilkinson">Demi Wilkinson</span>
            </div>
          </div>
          <div class="table-cell-92">
            <div class="checkbox-93"><div class="checkbox-base-94"></div></div>
            <div class="text-supporting-text-95">
              <span class="text-candice-wu">Candice Wu</span>
            </div>
          </div>
          <div class="table-cell-96">
            <div class="checkbox-97"><div class="checkbox-base-98"></div></div>
            <div class="text-and-supporting-text">
              <span class="text-99">Natali Craig</span>
            </div>
          </div>
          <div class="table-cell-9a">
            <div class="checkbox-9b"><div class="checkbox-base-9c"></div></div>
            <div class="text-and-supporting-text-9d">
              <span class="text-9e">Drew Cano</span>
            </div>
          </div>
          <div class="table-cell-9f">
            <div class="checkbox-a0"><div class="checkbox-base-a1"></div></div>
            <div class="text-and-supporting-text-a2">
              <span class="text-a3">Orlando Diggs</span>
            </div>
          </div>
          <div class="table-cell-a4">
            <div class="checkbox-a5"><div class="checkbox-base-a6"></div></div>
            <div class="avatar-a7"></div>
            <div class="text-and-supporting-text-a8">
              <span class="text-a9">Andi Lane</span
              ><span class="supporting-text">@andi</span>
            </div>
          </div>
          <div class="table-cell-aa">
            <div class="checkbox-ab"><div class="checkbox-base-ac"></div></div>
            <div class="avatar-ad"></div>
            <div class="text-and-supporting-text-ae">
              <span class="text-af">Kate Morrison</span
              ><span class="supporting-text-b0">@kate</span>
            </div>
          </div>
        </div>
        <div class="column-b1">
          <div class="table-header-cell-b2">
            <div class="table-header-b3">
              <span class="text-b4">Student Id</span>
            </div>
          </div>
          <div class="table-cell-b5">
            <span class="text-b6">24RM46005</span>
          </div>
          <div class="table-cell-b7">
            <span class="text-b8">24RM46005</span>
          </div>
          <div class="table-cell-b9">
            <span class="text-ba">24RM46005</span>
          </div>
          <div class="table-cell-bb">
            <span class="text-bc">24RM46005</span>
          </div>
          <div class="table-cell-bd">
            <span class="text-be">24RM46005</span>
          </div>
          <div class="table-cell-bf">
            <span class="text-c0">24RM46005</span>
          </div>
          <div class="table-cell-c1">
            <span class="text-c2">24RM46005</span>
          </div>
          <div class="table-cell-c3">
            <span class="text-c4">24RM46005</span>
          </div>
          <div class="table-cell-c5">
            <span class="text-c6">Product Manager</span>
          </div>
          <div class="table-cell-c7">
            <span class="text-c8">QA Engineer</span>
          </div>
        </div>
        <div class="column-c9">
          <div class="table-header-cell-ca">
            <div class="table-header-cb">
              <span class="text-cc">Campus Code</span>
            </div>
          </div>
          <div class="table-cell-cd"><span class="text-ce">WCUDA</span></div>
          <div class="table-cell-cf"><span class="text-d0">WCUE</span></div>
          <div class="table-cell-d1"><span class="text-d2">LACAMP</span></div>
          <div class="table-cell-d3"><span class="text-d4">ONTCAMP</span></div>
          <div class="table-cell-d5"><span class="text-d6">OCCAMP</span></div>
          <div class="table-cell-d7"><span class="text-d8">WCUCGS</span></div>
          <div class="table-cell-d9"><span class="text-da">WCUDA</span></div>
          <div class="table-cell-db"><span class="text-dc">LACAMP</span></div>
          <div class="table-cell-dd">
            <span class="text-de">Product Manager</span>
          </div>
          <div class="table-cell-df">
            <span class="text-e0">QA Engineer</span>
          </div>
        </div>
        <div class="column-e1">
          <div class="table-header-cell-e2">
            <div class="table-header-e3">
              <span class="text-e4">Program Code</span>
            </div>
          </div>
          <div class="table-cell-e5"><span class="text-e6">PT2022</span></div>
          <div class="table-cell-e7"><span class="text-e8">ADN2018</span></div>
          <div class="table-cell-e9"><span class="text-ea">VN2022</span></div>
          <div class="table-cell-eb"><span class="text-ec">MSOT2013</span></div>
          <div class="table-cell-ed"><span class="text-ee">OTD 2017</span></div>
          <div class="table-cell-ef"><span class="text-f0">MSOT2013</span></div>
          <div class="table-cell-f1"><span class="text-f2">PT2022</span></div>
          <div class="table-cell-f3"><span class="text-f4">VN2022</span></div>
          <div class="table-cell-f5">
            <span class="text-f6">Product Manager</span>
          </div>
          <div class="table-cell-f7">
            <span class="text-f8">QA Engineer</span>
          </div>
        </div>
        <div class="column-f9">
          <div class="table-header-cell-fa">
            <div class="table-header-fb">
              <span class="text-fc">Start Date</span>
            </div>
          </div>
          <div class="table-cell-fd">
            <span class="text-fe">04/01/2024</span>
          </div>
          <div class="table-cell-ff">
            <span class="text-100">04/01/2024</span>
          </div>
          <div class="table-cell-101">
            <span class="text-102">12/07/2023</span>
          </div>
          <div class="table-cell-103">
            <span class="text-104">04/3/2023</span>
          </div>
          <div class="table-cell-105">
            <span class="text-106">05/08/2023</span>
          </div>
          <div class="table-cell-107">
            <span class="text-108">09/04/2023</span>
          </div>
          <div class="table-cell-109">
            <span class="text-10a">05/06/2023</span>
          </div>
          <div class="table-cell-10b">
            <span class="text-10c">19/12/2023</span>
          </div>
          <div class="table-cell-10d">
            <span class="text-10e">Product Manager</span>
          </div>
          <div class="table-cell-10f">
            <span class="text-110">QA Engineer</span>
          </div>
        </div>
        <div class="column-111">
          <div class="table-header-cell-112">
            <div class="table-header-113">
              <span class="text-114">Graduation Date</span>
            </div>
          </div>
          <div class="table-cell-115">
            <span class="text-116">31/03/2026</span>
          </div>
          <div class="table-cell-117">
            <span class="text-118">09/03/2024</span>
          </div>
          <div class="table-cell-119">
            <span class="text-11a">18/06/2024</span>
          </div>
          <div class="table-cell-11b">
            <span class="text-11c">06/03/2026</span>
          </div>
          <div class="table-cell-11d">
            <span class="text-11e">31/09/2025</span>
          </div>
          <div class="table-cell-11f">
            <span class="text-120">09/07/2025</span>
          </div>
          <div class="table-cell-121">
            <span class="text-122">14/01/2026</span>
          </div>
          <div class="table-cell-123">
            <span class="text-124">19/03/2025</span>
          </div>
          <div class="table-cell-125">
            <span class="text-126">Product Manager</span>
          </div>
          <div class="table-cell-127">
            <span class="text-128">QA Engineer</span>
          </div>
        </div>
        <div class="column-129">
          <div class="table-header-cell-12a">
            <div class="table-header-12b">
              <span class="text-12c">Campus Status</span>
            </div>
          </div>
          <div class="table-cell-12d"><span class="text-12e">Active</span></div>
          <div class="table-cell-12f">
            <span class="text-130">Graduate</span>
          </div>
          <div class="table-cell-131">
            <span class="text-132">Graduate</span>
          </div>
          <div class="table-cell-133"><span class="text-134">Active</span></div>
          <div class="table-cell-135">
            <span class="text-136">Offer Rejected</span>
          </div>
          <div class="table-cell-137">
            <span class="text-138">Applicant - Cancel</span>
          </div>
          <div class="table-cell-139"><span class="active">Active</span></div>
          <div class="table-cell-13a">
            <span class="active-13b">Active</span>
          </div>
          <div class="table-cell-13c">
            <span class="product-manager">Product Manager</span>
          </div>
          <div class="table-cell-13d">
            <span class="qa-engineer">QA Engineer</span>
          </div>
        </div>
        <div class="column-13e">
          <div class="table-header-cell-13f">
            <div class="table-header-140">
              <span class="actions">Actions</span>
            </div>
          </div>
          <div class="table-cell-141">
            <div class="add"><div class="vector"></div></div>
            <div class="document"><div class="vector-142"></div></div>
            <div class="envelope"><div class="vector-143"></div></div>
          </div>
          <div class="table-cell-144">
            <div class="add-145"><div class="vector-146"></div></div>
            <div class="document-147"><div class="vector-148"></div></div>
            <div class="envelope-149"><div class="vector-14a"></div></div>
          </div>
          <div class="table-cell-14b">
            <div class="add-14c"><div class="vector-14d"></div></div>
            <div class="document-14e"><div class="vector-14f"></div></div>
            <div class="envelope-150"><div class="vector-151"></div></div>
          </div>
          <div class="table-cell-152">
            <div class="add-153"><div class="vector-154"></div></div>
            <div class="document-155"><div class="vector-156"></div></div>
            <div class="envelope-157"><div class="vector-158"></div></div>
          </div>
          <div class="table-cell-159">
            <div class="add-15a"><div class="vector-15b"></div></div>
            <div class="document-15c"><div class="vector-15d"></div></div>
            <div class="envelope-15e"><div class="vector-15f"></div></div>
          </div>
          <div class="table-cell-160">
            <div class="add-161"><div class="vector-162"></div></div>
            <div class="document-163"><div class="vector-164"></div></div>
            <div class="envelope-165"><div class="vector-166"></div></div>
          </div>
          <div class="table-cell-167">
            <div class="add-168"><div class="vector-169"></div></div>
            <div class="document-16a"><div class="vector-16b"></div></div>
            <div class="envelope-16c"><div class="vector-16d"></div></div>
          </div>
          <div class="table-cell-16e">
            <div class="add-16f"><div class="vector-170"></div></div>
            <div class="document-171"><div class="vector-172"></div></div>
            <div class="envelope-173"><div class="vector-174"></div></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
