<div class="main-container">
  <!-- 
      Header With Nebula Logo Start
    -->
  <div class="global-header">
    <div class="frame">
      <div class="nebula-icon"></div>
      <div class="logo">
        <span class="nebula-edge-university">Nebula Edge University</span>
      </div>
    </div>
    <div class="input-search">
      <div class="input-field">
        <div class="left-input-icon">
          <div class="icon">
            <div class="utility-icons-search">
              <div class="icon-1"></div>
            </div>
          </div>
        </div>
        <span class="input-content">Search</span>
      </div>
      <input class="input" />
    </div>
    <div class="header-icons">
      <div class="einstien">
        <div class="button-icon-container">
          <div class="icon-2">
            <div class="icon-3"></div>
          </div>
        </div>
      </div>
      <div class="split-button">
        <div class="grouped-buttons">
          <div class="main-button">
            <div class="container">
              <div class="icon-4">
                <div class="icon-5"></div>
              </div>
            </div>
          </div>
          <div class="menu-button">
            <div class="container-6">
              <div class="icon-7">
                <div class="icon-8"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-icon">
        <div class="icon-9"></div>
      </div>
      <div class="trailhead-icon">
        <div class="icon-a"></div>
      </div>
      <div class="question-icon">
        <div class="icon-b"></div>
      </div>
      <div class="setup-icon">
        <div class="icon-c"></div>
      </div>
      <div class="notification-icon">
        <div class="icon-d"></div>
      </div>
      <div class="avatar"></div>
    </div>
  </div>
  <!-- 
      Header With Nebula Logo End
    -->
  <!-- 
                    Global Navigation Start
                -->
  <div class="global-navigation">
    <div class="tabs">
      <div class="global-navigation-app-name">
        <div class="untracked-icon-waffle"></div>
        <span class="label-text-community">Community</span>
      </div>
      <div class="tab">
        <div class="global-nav-tab-parent">
          <div class="icon-label">
            <span class="label-text-home">Home</span>
          </div>
          <div class="base-button-icon">
            <div class="button-icon-container-e">
              <div class="utility-icons-switch">
                <div class="icon-f"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar">
          <div class="border"></div>
        </div>
      </div>
      <div class="tab-10">
        <div class="global-navigation-tab-parent">
          <div class="icon-label-11">
            <span class="label-text-accounts">Accounts</span>
          </div>
          <div class="base-button-icon-12">
            <div class="button-icon-container-13">
              <div class="utility-icons-switch-14">
                <div class="icon-15"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-16">
          <div class="border-17"></div>
        </div>
      </div>
      <div class="tab-18">
        <div class="global-nav-tab-parent-19">
          <div class="icon-label-1a">
            <span class="label-text-contacts">Contacts</span>
          </div>
          <div class="base-button-icon-1b">
            <div class="button-icon-container-1c">
              <div class="utility-icons-switch-1d">
                <div class="icon-1e"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-1f">
          <div class="border-20"></div>
        </div>
      </div>
      <div class="tab-21">
        <div class="global-nav-tab-parent-22">
          <div class="icon-label-23">
            <span class="label-text-service">Service</span>
          </div>
          <div class="base-button-icon-24">
            <div class="button-icon-container-25">
              <div class="utility-icons-s-switch">
                <div class="icon-26"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-27">
          <div class="border-28"></div>
        </div>
      </div>
      <div class="tab-29">
        <div class="global-nav-tab-parent-2a">
          <div class="icon-label-2b">
            <span class="label-text">Sales</span>
          </div>
          <div class="base-button-icon-2c">
            <div class="button-icon-container-2d">
              <div class="utility-icons-s-switch-2e">
                <div class="icon-2f"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-30">
          <div class="border-31"></div>
        </div>
      </div>
      <div class="tab-32">
        <div class="global-nav-tab-parent-33">
          <div class="icon-label-34">
            <span class="label-text-35">Reports</span>
          </div>
          <div class="base-button-icon-36">
            <div class="button-icon-container-37">
              <div class="utility-icons-s-switch-38">
                <div class="icon-39"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-3a">
          <div class="border-3b"></div>
        </div>
      </div>
      <div class="overflow-tab">
        <div class="global-navigation-tab-parent-3c">
          <div class="icon-label-3d">
            <span class="label-text-3e">E Sign Center</span>
          </div>
          <div class="base-button-icon-3f">
            <div class="button-icon-container-40">
              <div class="utility-icons-s-switch-41">
                <div class="icon-42"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-43">
          <div class="border-44"></div>
        </div>
      </div>
    </div>
    <div class="edit-button-icon">
      <div class="button-icon-container-45">
        <div class="icon-46">
          <div class="icon-47"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
                    Global Navigation End
                -->
  <!-- 
              Global Subtab Start
              -->
  <div class="global-navigation-console-subtab">
    <div class="subtab">
      <div class="global-nav-tab-parent-48">
        <div class="icon-label-49">
          <span class="label-text-4a">Staff Department Mapping</span>
        </div>
      </div>
    </div>
    <button class="subtab-4b">
      <div class="global-navigation-tab-parent-4c">
        <div class="icon-label-4d">
          <span class="label-text-4e">Student Document Assignment</span>
        </div>
      </div>
    </button>
  </div>
  <!-- 
              Global Subtab End
              -->

  <!-- 
              Student Search Start
              -->
  <div class="rectangle">
    <div class="flex-row">
      <div class="input-field-4f">
        <div class="input-field-base">
          <div class="input-with-label">
            <span class="label">First Name</span>
            <div class="input-50">
              <input class="input-51" />
              <div class="content"><span class="text">Enter First Name</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field-52">
        <div class="input-field-base-53">
          <div class="input-with-label-54">
            <span class="label-55">Last Name</span>
            <div class="input-56">
              <input class="input-57" />
              <div class="content-58"><span class="text-59">Enter Last Name</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field-5a">
        <div class="input-field-base-5b">
          <div class="input-with-label-5c">
            <span class="label-5d">Student Number</span>
            <div class="input-5e">
              <input class="input-5f" />
              <div class="content-60">
                <span class="text-61">JOY043</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field-62">
        <div class="input-field-base-63">
          <div class="input-with-label-64">
            <span class="label-65">Campus</span>
            <div class="input-66">
              <select class="form-select" aria-label="Default select example" style="border:none; padding:0;">
                <option selected>Austin, Tx</option>
                <option value="1">Austin, Tx</option>
                <option value="2">Option 1</option>
                <option value="3">Option 2</option>
              </select>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row-cfa">
      <span class="document-assigned-status">Document Assigned Status</span>
      <div class="input-field-69">
        <div class="input-field-base-6a">
          <div class="input-with-label-6b">
            <span class="document-assigned-date">Document Assigned Date</span>
            <div class="input-6c">
              <input class="input-6d" />
              <div class="content-6e">
                <span class="text-joy">Enter Assigned Date</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-field-6f">
        <div class="input-field-base-70">
          <div class="input-with-label-71">
            <span class="document-name">Document Name</span>
            <div class="input-72">
              <div class="content-73">
                <span class="text-joy043">Enter Document Name</span>
              </div>
              <div class="help-icon-74">
                <div class="help-circle-75">
                  <div class="icon-76"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="button" type="submit">
        <div class="button-base">
          <span class="text-search">Search</span>
        </div>
      </button><button class="button-77">
        <div class="button-base-78">
          <span class="text-reset">Reset</span>
        </div>
      </button>
      <div class="checkbox">
        <div class="checkbox-79">
          <div class="checkbox-base">
            <div class="check">
              <div class="icon-7a"></div>
            </div>
          </div>
        </div>
        <span class="text-both">Both</span>
      </div>
      <div class="checkbox-7b">
        <div class="checkbox-7c">
          <div class="checkbox-base-7d"></div>
        </div>
        <span class="text-assigned">Assigned</span>
      </div>
      <div class="checkbox-7e">
        <div class="checkbox-7f">
          <div class="checkbox-base-80"></div>
        </div>
        <span class="text-unassigned">Unassigned</span>
      </div>
    </div>
    <span class="search-results">Search Results</span>
  </div>

  <!-- 
              Student Search End
          -->
  <!-- 
              Table Start
          -->
  <div class="student-table">
    <div class="student-table-header">
      <div class="st-header-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-45" type="checkbox" />
          <label class="cbx" for="cbx-45">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        Name
      </div>
      <div class="st-header-name">
        Student ID
      </div>
      <div class="st-header-name">
        Campus Code
      </div>
      <div class="st-header-name">
        Program Code
      </div>
      <div class="st-header-name">
        Start Date
      </div>
      <div class="st-header-name">
        Graduation Date
      </div>
      <div class="st-header-name">
        Campus Status
      </div>
      <div class="st-header-name">
        Actions
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a style="color: #101828; text-decoration: none; cursor: pointer;"
            (click)="onNameClick()">Sharon Robinson</a></span>
      </div>
      <div class="st-row-name">
        24RM46006
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document" (click)="onNameClick()" style="cursor: pointer;">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Phoenix Baker
          </a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        ADN2018
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        09/03/2024
      </div>
      <div class="st-row-name">
        Graduate
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Lana
            Steiner</a></span>
      </div>
      <div class="st-row-name">
        24RM46321
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        VN2022
      </div>
      <div class="st-row-name">
        12/07/2023
      </div>
      <div class="st-row-name">
        18/06/2024
      </div>
      <div class="st-row-name">
        Graduate
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Demi
            Wilkinson</a></span>
      </div>
      <div class="st-row-name">
        24BM46415
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        MSOT2013
      </div>
      <div class="st-row-name">
        04/3/2023
      </div>
      <div class="st-row-name">
        06/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Candice Wu</a></span>
      </div>
      <div class="st-row-name">
        24RM36215
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        OTD 2017
      </div>
      <div class="st-row-name">
        05/08/2023
      </div>
      <div class="st-row-name">
        31/09/2025
      </div>
      <div class="st-row-name">
        Offer Rejected
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Natali
            Craig</a></span>
      </div>
      <div class="st-row-name">
        24RM43215
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        MSOT2013
      </div>
      <div class="st-row-name">
        09/04/2023
      </div>
      <div class="st-row-name">
        09/07/2025
      </div>
      <div class="st-row-name">
        Applicant - Cancel
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Drew Cano</a></span>
      </div>
      <div class="st-row-name">
        24RM12143
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        05/06/2023
      </div>
      <div class="st-row-name">
        14/01/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
    <div class="student-table-row">
      <div class="st-row-name">
        <div class="checkbox-wrapper-45">
          <input id="cbx-46" type="checkbox" />
          <label class="cbx" for="cbx-46">
            <div class="flip">
              <div class="front"></div>
              <div class="back">
                <svg width="16" height="14" viewBox="0 0 16 14">
                  <path d="M2 8.5L6 12.5L14 1.5"></path>
                </svg>
              </div>
            </div>
          </label>
        </div>
        <span class="text-olivia-rhye"><a href="#!" style="color: #101828; text-decoration: none;">Olivia
            Rhye</a></span>
      </div>
      <div class="st-row-name">
        24RM46005
      </div>
      <div class="st-row-name">
        Austin, Tx
      </div>
      <div class="st-row-name">
        PT2022
      </div>
      <div class="st-row-name">
        04/01/2024
      </div>
      <div class="st-row-name">
        31/03/2026
      </div>
      <div class="st-row-name">
        Active
      </div>
      <div class="st-row-name-icons">
        <div class="add">
          <div class="vector"></div>
        </div>
        <div class="document">
          <div class="vector-142"></div>
        </div>
        <div class="envelope">
          <div class="vector-143"></div>
        </div>
      </div>

    </div>
  </div>
  <!-- 
              Table End
          -->
</div>
<!-- Generated by Codia AI - https://codia.ai/ -->
<!-- </body>
</html> -->