:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
body{font-family: "Inter", sans-serif!important;}


input,
select,
textarea,
button {
  outline: 0;
}
 button.primary {
  float: right;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
 }
.main-container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  background: #4b6fa4;
  overflow: hidden;
}

/* 
Header With Nebula Logo Start
*/
.global-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100vw;
  height: 64px;
  min-height: 64px;
  margin: 0 0 0 0;
  padding: 0 24px 0 24px;
  background: #ffffff;
  max-height: 64px;
}

.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 217px;
  z-index: 61;
}

.nebula-icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../../assets/images/f0467fd2-6c49-4682-99df-b529d84f232c.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
}
.logo {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 189px;
  padding: 0 4px 0 4px;
  z-index: 63;
}
.nebula-edge-university {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #0250d9;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.input-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 482px;
  z-index: 65;
  overflow: hidden;
}
.input-field {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  height: 32px;
  min-height: 32px;
  padding: 0 8px 0 8px;
  background: #ffffff;
  border: 1px solid #5c5c5c;
  z-index: 66;
  overflow: hidden;
  max-height: 32px;
  border-radius: 9999px;
}
.left-input-icon {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 20px;
  padding: 2px 2px 2px 2px;
  z-index: 67;
}
.icon {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 68;
  overflow: hidden;
}
.utility-icons-search {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 69;
}
.icon-1 {
  position: relative;
  width: 14.728px;
  height: 14.829px;
  margin: 0.58px 0 0 0.64px;
  background: url(../../assets/images/87494649-3e9e-4a26-9a22-e7890d8296f7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 70;
}
.input-content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #5c5c5c;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 71;
  overflow: hidden;
}
.input {
  flex-shrink: 0;
  position: absolute;
  width: 482px;
  height: 32px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 72;
  outline: none;
}
.header-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 369px;
  padding: 0 16px 0 16px;
  z-index: 73;
}
.einstien {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 26px;
  z-index: 74;
  border-radius: 9999px;
}
.button-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 26px;
  height: 26px;
  z-index: 75;
  overflow: hidden;
  border-radius: 9999px;
}
.icon-2 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 76;
}
.icon-3 {
  position: relative;
  width: 22.158px;
  height: 17.631px;
  margin: 2.954px 0 0 0.92px;
  background: url(../../assets/images/5a7374f8-429b-4a62-8b7e-fa435b125294.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 77;
}
.split-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 47px;
  z-index: 78;
}
.grouped-buttons {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -1px;
  position: relative;
  width: 47px;
  z-index: 79;
}

.main-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  z-index: 80;
  overflow: hidden;
  border-radius: 100px 0 0 100px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 24px;
  padding: 5px 5px 5px 5px;
  background: #ffffff;
  border: 1px solid #5c5c5c;
  z-index: 81;
  overflow: hidden;
  border-radius: 9999px 0 0 9999px;
}
.icon-4 {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 82;
}
.icon-5 {
  position: relative;
  width: 12.91px;
  height: 12.927px;
  margin: 0.54px 0 0 0.54px;
  background: url(../../assets/images/08eff2b6-ceb3-463b-a47a-e0a6c7c2acfe.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 83;
}
.menu-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 24px;
  z-index: 84;
  overflow: hidden;
  border-radius: 0 9999px 9999px 0;
}
.container-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 24px;
  padding: 5px 5px 5px 5px;
  background: #ffffff;
  border: 1px solid #5c5c5c;
  z-index: 85;
  overflow: hidden;
  border-radius: 0 9999px 9999px 0;
}
.icon-7 {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 86;
}
.icon-8 {
  position: relative;
  width: 10.217px;
  height: 6.461px;
  margin: 3.769px 0 0 1.885px;
  background: url(../../assets/images/b0d2b033-e911-4939-9b66-a4ffb0a96216.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 87;
}
.new-icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 88;
}
.icon-9 {
  position: relative;
  width: 22.126px;
  height: 22.166px;
  margin: 0.93px 0 0 0.93px;
  background: url(../../assets/images/9ee93498-8490-4d6e-bb6f-af745a826bae.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 89;
}
.trailhead-icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 90;
}
.icon-a {
  position: relative;
  width: 22.154px;
  height: 22.154px;
  margin: 0.92px 0 0 0.92px;
  background: url(../../assets/images/9138627a-3589-4f71-9a37-346a2fe89488.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 91;
}
.question-icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 92;
}
.icon-b {
  position: relative;
  width: 14.734px;
  height: 22.202px;
  margin: 0.88px 0 0 4.656px;
  background: url(../../assets/images/aa561a0f-be99-4441-9df6-683d4dc8f05d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 93;
}
.setup-icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 94;
}
.icon-c {
  position: relative;
  width: 20.334px;
  height: 22.154px;
  margin: 0.92px 0 0 1.826px;
  background: url(../../assets/images/bd5f6b7b-20a2-4d84-b160-d32e0250a3b5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 95;
}
.notification-icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 96;
}
.icon-d {
  position: relative;
  width: 22.154px;
  height: 22.163px;
  margin: 0.91px 0 0 0.92px;
  background: url(../../assets/images/66eec511-2f9c-4652-ab97-d4ed8b5efeb9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 97;
}
.avatar {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  background: url(../../assets/images/bbcd7844c0cda5cbf86d19ff21f2a291f5db111c.png)
    no-repeat center;
  background-size: cover;
  z-index: 98;
  border-radius: 9999px;
}

/* 
Header With Nebula Logo End
*/

/* 
Global Navigation Start
*/
.global-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 100vw;
  margin: 0 0 0 0;
  padding: 4px 24px 4px 0;
  background: #ffffff;
  z-index: 388;
  box-shadow: 0 0 1.49px 0 rgba(0, 0, 0, 0.09);
}
.tabs {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  padding: 0 24px 0 0;
  z-index: 389;
}
.global-navigation-app-name {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 184px;
  height: 32px;
  padding: 0 24px 0 16px;
  z-index: 390;
  max-width: 320px;
}
.untracked-icon-waffle {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(../../assets/images/fd7a2986-4852-4a2d-b3d6-294976dce08e.png)
    no-repeat center;
  background-size: cover;
  z-index: 391;
}
.label-text-community {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 28px;
  color: #03234d;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 392;
  overflow: hidden;
}
.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 92px;
  height: 32px;
  z-index: 393;
}
.global-nav-tab-parent {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 92px;
  height: 32px;
  padding: 0 12px 0 12px;
  background: #ffffff;
  z-index: 394;
}
.icon-label {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 48px;
  min-height: 0;
  padding: 0 8px 0 0;
  z-index: 395;
}
.label-text-home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #03234d;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 396;
  overflow: hidden;
}
.base-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 397;
  border-radius: 9999px;
}
.button-icon-container-e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  z-index: 398;
  overflow: hidden;
  border-radius: 9999px;
}
.utility-icons-switch {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 399;
}

.icon-f {
  position: relative;
  width: 11.854px;
  height: 7px;
  margin: 3.487px 0 0 1.063px;
  background: url(../../assets/images/c127bc12-5ebd-49fb-94ef-2ce356c0f391.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 400;
}
.context-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -3px;
  position: relative;
  height: 3px;
  z-index: 401;
}

.tab-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 117px;
  height: 32px;
  z-index: 403;
}
.global-navigation-tab-parent {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 117px;
  height: 32px;
  padding: 0 12px 0 12px;
  background: #ffffff;
  z-index: 404;
}
.icon-label-11 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 73px;
  min-height: 0;
  padding: 0 8px 0 0;
  z-index: 405;
}
.label-text-accounts {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #03234d;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 406;
  overflow: hidden;
}
.base-button-icon-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 407;
  border-radius: 9999px;
}
.button-icon-container-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  z-index: 408;
  overflow: hidden;
  border-radius: 9999px;
}
.utility-icons-switch-14 {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 409;
}
.icon-15 {
  position: relative;
  width: 11.854px;
  height: 7px;
  margin: 3.487px 0 0 1.063px;
  background: url(../../assets/images/5242a578-746d-4c5a-a176-e8c95c47aec0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 410;
}
.context-bar-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -3px;
  position: relative;
  height: 3px;
  z-index: 411;
}
.border-17 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 3px;
  background: #ffffff;
  z-index: 412;
}
.tab-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 114px;
  height: 32px;
  z-index: 413;
}
.global-nav-tab-parent-19 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 114px;
  height: 32px;
  padding: 0 12px 0 12px;
  background: #ffffff;
  z-index: 414;
}
.icon-label-1a {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 70px;
  min-height: 0;
  padding: 0 8px 0 0;
  z-index: 415;
}
.label-text-contacts {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #03234d;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 416;
  overflow: hidden;
}
.base-button-icon-1b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 417;
  border-radius: 9999px;
}
.button-icon-container-1c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  z-index: 418;
  overflow: hidden;
  border-radius: 9999px;
}
.utility-icons-switch-1d {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 419;
}
.icon-1e {
  position: relative;
  width: 11.854px;
  height: 7px;
  margin: 3.487px 0 0 1.063px;
  background: url(../../assets/images/0e84cc08-30b8-40f6-9777-260beaf4475f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 420;
}
.context-bar-1f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -3px;
  position: relative;
  height: 3px;
  z-index: 421;
}
.border-20 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 3px;
  background: #ffffff;
  z-index: 422;
}
.tab-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 104px;
  height: 32px;
  z-index: 423;
}
.global-nav-tab-parent-22 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 104px;
  height: 32px;
  padding: 0 12px 0 12px;
  background: #ffffff;
  z-index: 424;
}
.icon-label-23 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 60px;
  min-height: 0;
  padding: 0 8px 0 0;
  z-index: 425;
}
.label-text-service {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #03234d;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 426;
  overflow: hidden;
}
.base-button-icon-24 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 427;
  border-radius: 9999px;
}
.button-icon-container-25 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  z-index: 428;
  overflow: hidden;
  border-radius: 9999px;
}
.utility-icons-s-switch {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 429;
}

.icon-26 {
  position: relative;
  width: 11.854px;
  height: 7px;
  margin: 3.487px 0 0 1.063px;
  background: url(../../assets/images/a63f34ed-ff0e-42de-987d-f545d0b7401f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 430;
}
.context-bar-27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -3px;
  position: relative;
  height: 3px;
  z-index: 431;
}
.border-28 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 3px;
  background: #ffffff;
  z-index: 432;
}
.tab-29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 89px;
  height: 32px;
  z-index: 433;
}
.global-nav-tab-parent-2a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 89px;
  height: 32px;
  padding: 0 12px 0 12px;
  background: #ffffff;
  z-index: 434;
}
.icon-label-2b {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 45px;
  min-height: 0;
  padding: 0 8px 0 0;
  z-index: 435;
}
.label-text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #03234d;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 436;
  overflow: hidden;
}
.base-button-icon-2c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 437;
  border-radius: 9999px;
}
.button-icon-container-2d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  z-index: 438;
  overflow: hidden;
  border-radius: 9999px;
}
.utility-icons-s-switch-2e {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 439;
}
.icon-2f {
  position: relative;
  width: 11.854px;
  height: 7px;
  margin: 3.487px 0 0 1.063px;
  background: url(../../assets/images/b65e47d0-fe18-4d48-a7b8-2cb11573236b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 440;
}
.context-bar-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -3px;
  position: relative;
  height: 3px;
  z-index: 441;
}
.border-31 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 3px;
  background: #ffffff;
  z-index: 442;
}
.tab-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 106px;
  height: 32px;
  z-index: 443;
}
.global-nav-tab-parent-33 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 106px;
  height: 32px;
  padding: 0 12px 0 12px;
  background: #ffffff;
  z-index: 444;
}
.icon-label-34 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 62px;
  min-height: 0;
  padding: 0 8px 0 0;
  z-index: 445;
}
.label-text-35 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #03234d;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 446;
  overflow: hidden;
}
.base-button-icon-36 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 447;
  border-radius: 9999px;
}
.button-icon-container-37 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  z-index: 448;
  overflow: hidden;
  border-radius: 9999px;
}
.utility-icons-s-switch-38 {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 449;
}
.icon-39 {
  position: relative;
  width: 11.854px;
  height: 7px;
  margin: 3.487px 0 0 1.063px;
  background: url(../../assets/images/28634fe3-33fd-48d4-ad8b-933065d884c7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 450;
}
.context-bar-3a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -3px;
  position: relative;
  height: 3px;
  z-index: 451;
}
.border-3b {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 3px;
  background: #ffffff;
  z-index: 452;
}
.overflow-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 144px;
  height: 32px;
  z-index: 453;
}
.global-navigation-tab-parent-3c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 144px;
  height: 32px;
  padding: 0 12px 0 12px;
  background: #ffffff;
  z-index: 454;
}
.icon-label-3d {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 100px;
  min-height: 0;
  padding: 0 8px 0 0;
  z-index: 455;
}
.label-text-3e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #0250d9;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 456;
  overflow: hidden;
}
.base-button-icon-3f {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 457;
  border-radius: 9999px;
}
.button-icon-container-40 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  z-index: 458;
  overflow: hidden;
  border-radius: 9999px;
}
.utility-icons-s-switch-41 {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 459;
}

.icon-42 {
  position: relative;
  width: 11.854px;
  height: 7px;
  margin: 3.487px 0 0 1.063px;
  background: url(../../assets/images/cf0fe9aa-04cb-40df-a536-d1d987660808.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 460;
}
.context-bar-43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -3px;
  position: relative;
  height: 3px;
  z-index: 461;
}
.border-44 {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 3px;
  background: #0250d9;
  z-index: 462;
  border-radius: 4px;
}
.edit-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 32px;
  z-index: 463;
  border-radius: 9999px;
}
.button-icon-container-45 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 32px;
  min-width: 32px;
  height: 32px;
  padding: 0 8px 0 8px;
  z-index: 464;
  overflow: hidden;
  border-radius: 9999px;
}
.icon-46 {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 465;
}
.icon-47 {
  position: relative;
  width: 12.898px;
  height: 12.902px;
  margin: 0.54px 0 0 0.56px;
  background: url(../../assets/images/0c52cc5d-ab49-41d2-ac79-6a7913f8b573.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 466;
}

/* 
Global Navigation End
*/


/* 
Global Subtab Start
*/
.global-navigation-console-subtab {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100vw;
  margin: 0.5px 0 0 0;
  padding: 0 0 0 0;
  background: #ffffff;
  border-top: 1px solid #c9c9c9;
  z-index: 41;
}
.subtab {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 209px;
  height: 40px;
  z-index: 42;
}
.global-nav-tab-parent-49 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 209px;
  min-height: 0;
  padding: 0 12px 0 12px;
  background: #ffffff;
  border-top: 1px solid #c9c9c9;
  z-index: 43;
}
.icon-label-4a {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 185px;
  padding: 0 4px 0 4px;
  z-index: 44;
}
.label-text-4b {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #5c5c5c;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 45;
  overflow: hidden;
}
.subtab-4c {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 241px;
  z-index: 46;
}
.global-navigation-tab-parent-4d {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 241px;
  padding: 0 12px 0 12px;
  background: #edf4ff;
  border-top: 1px solid #c9c9c9;
  z-index: 47;
}
.icon-label-4e {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 217px;
  padding: 0 4px 0 4px;
  z-index: 48;
}
.label-text-4f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #0250d9;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 49;
  overflow: hidden;
}
.subtab-50 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 178px;
  border-left: 1px solid #c7cfdc;
  z-index: 50;
}
.global-nav-tab-parent-51 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 178px;
  padding: 0 12px 0 12px;
  background: #edf4ff;
  border-top: 1px solid #c9c9c9;
  z-index: 51;
}
.icon-label-52 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 134px;
  padding: 0 4px 0 4px;
  z-index: 52;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 53;
}
.utility-icon {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 54;
}
.icon-53 {
  position: relative;
  width: 11.068px;
  height: 14.768px;
  margin: 0.62px 0 0 2.152px;
  background: url(../../assets/images/00e9f5c3-8aec-44f9-8c5f-ff833f9103fa.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 55;
}
.label-text-54 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #0250d9;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 56;
  overflow: hidden;
}
.close-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 57;
  border-radius: 9999px;
}
.button-icon-container-55 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 16px;
  min-width: 16px;
  height: 16px;
  z-index: 58;
  overflow: hidden;
  border-radius: 9999px;
}
.utility-icons-c-close {
  flex-shrink: 0;
  position: relative;
  width: 14px;
  height: 14px;
  z-index: 59;
}
.icon-56 {
  position: relative;
  width: 9.936px;
  height: 9.961px;
  margin: 2.033px 0 0 2.033px;
  background: url(../../assets/images/900aba88-e5ea-44ff-b347-8f8cb0c34656.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 60;
}
/* 
Global Subtab End
*/

/* 
Student Detail Start
*/
.rectangle-student-detail {
  position: relative;
  width: 1408px;
  height: 200px;
  margin-top: 20px;
  left: 50%;
  background: #ffffff;
  border: 1px solid #ededed;
  border-bottom: none;
  transform: translate(-50%, 0);
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.04);
}

.student-details {
  display: block;
  position: relative;
  height: 19px;
  margin: 32px 0 0 33px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 226;
}

.student-table {
  position: relative;
  width: 1408px;
  left: 50%;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-top: none;
  border-bottom: none;
  transform: translate(-50%, 0);
  border-radius: 0px;
}

.student-table-header {
    display: flex;
    align-items: center;
    background-color: #f8f9fb;
    border-top: solid 1px #e9ebee;
    border-bottom: solid 1px #e9ebee;
    height: 44px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.st-header-name {
    color: #475466;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    width: 201.14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.student-detail-table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f3f5;
    border-top: solid 1px #e9ebee;
    border-bottom: solid 1px #e9ebee;
    height: 72px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.std-row-name {
    color: #475466;
    width: 176px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #475466;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
/* 
Student Detail End
*/

/* 
Tab Start
*/

.tab-row {
  position: relative;
  width: 1408px;
  left: 50%;
  background: #ffffff;
  border: 1px solid #ededed;
  border-top: none;
  transform: translate(-50%, 0);
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 20px;
  margin-bottom: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.04);
}

.nav-pills .text-primary{color:#5c5c5c!important;}
.all-assigndoc .flex-row-ecb{width: 100%; margin: 0;}
.all-assigndoc .flex-row-fc{width: 100%; margin: 17px 0 0 0px;}

.all-assigndoc .flex-row-a0{width: 100%; margin: 1px 0 0 0px;}
.all-assigndoc .flex-row-bc{width: 100%; margin: 1px 0 0 0px;}
.all-assigndoc .flex-row-b{width: 100%; margin: 1px 0 0 0px;}
.all-assigndoc .flex-row-ada{width: 100%; margin: 1px 0 0 0px;}
.all-assigndoc .flex-row-f9{width: 100%; margin: 1px 0 0 0px;}

.nav .nav-item button.active {background-color: transparent;color: #0250d9 !important;}
.nav .nav-item button.active::after {
  content: "";
  border-bottom: 3px solid #0250d9;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 5px 5px 0 0;
}



/* 
Tab End
*/

/* 
Assigned Document Start
*/
.flex-row-ecb {
  position: relative;
  width: 1343px;
  height: 32px;
  margin: 24px 0 0 33px;
  z-index: 361;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 1046px;
  z-index: 361;
}
.button-base {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 95px;
  height: 32px;
  padding: 10px 16px 10px 16px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0250d9;
  z-index: 361;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.filters-lines {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 362;
  overflow: hidden;
}
.icon-88 {
  position: relative;
  width: 16.672px;
  height: 11.67px;
  margin: 4.165px 0 0 1.664px;
  background: url(../../assets/images/a939fdae-03cc-4616-8e6d-79212da95f19.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 363;
}
.text-89 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #344053;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 364;
}
.button-base-8a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 178px;
  height: 32px;
  padding: 8px 72px 8px 72px;
  cursor: pointer;
  background: #0250d9;
  border: 1px solid #0250d9;
  z-index: 357;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.plus-small {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 358;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 6px 0 0 6px;
  background: url(../../assets/images/3ec98e77-b6e0-4bb7-b4f0-c9f7cd307013.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 359;
}
.text-8b {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 15px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 14.523px;
  text-align: left;
  white-space: nowrap;
  z-index: 360;
}
.assigned-documents {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 19px;
  top: 7px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 225;
}
.flex-row-fc {
  position: relative;
  width: 1344px;
  height: 44px;
  margin: 17px 0 0 32px;
  z-index: 97;
}

.stda-header-name {
    color: #475466;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    min-width: 136px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    display: flex;
    align-items: center;
}

.stda-header-name-dn {
    color: #475466;
    font-family: Inter, var(--default-font-family);
    font-size: 12px;
    min-width: 400px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    display: flex;
    align-items: center;
}

.student-table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-top: solid 1px #e9ebee;
    border-bottom: solid 1px #e9ebee;
    height: 72px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.stda-row-name-dn {
    color: #475466;
    min-width: 400px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #475466;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.stda-row-name {
    color: #475466;
    min-width: 136px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #475466;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.stda-row-name-icons {
    display: flex;
    min-width: 136px;
    align-items: center;
    padding-left: 24px;
    gap: 8px;
}

.eye {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(../../assets/images/44c8be84-6dfa-4e69-8c2a-f48b9be8a91f.png)
    no-repeat center;
  background-size: cover;
  z-index: 179;
  overflow: hidden;
}

.email-history {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(../../assets/images/72cbfe46-da77-4873-a14e-e2c14a3b6d26.png)
    no-repeat center;
  background-size: cover;
  z-index: 195;
  overflow: hidden;
}

.remind {
  position: relative;
  width: 20px;
  height: 19.721px;
  margin: 0 0 0 0;
  background: url(../../assets/images/d319521f-e451-4259-93b8-10bea5dbcfca.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 204;
}

.workflow-icon {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(../../assets/images/42205408-2eeb-434d-98f0-de27b79f10a7.png)
    no-repeat center;
  background-size: cover;
  z-index: 210;
  overflow: hidden;
}

.check {
    position: relative;
    width: 20px;
    height: 19.721px;
    margin: 0 0 0 0;
    background: url(../../assets/images/05949d0f-8ad6-4d5f-8923-4d0dbbf8217b.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 161;
}

.student-table-document {
  position: relative;
  width: 1408px;
  left: 50%;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-top: none;
  transform: translate(-50%, 0);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

/* 
Assigned Document End
*/