<div class="main-container">
  <!-- 
                  Header With Nebula Logo Start
                  -->
  <div class="global-header">
    <div class="frame">
      <div class="nebula-icon"></div>
      <div class="logo">
        <span class="nebula-edge-university">Nebula Edge University</span>
      </div>
    </div>
    <div class="input-search">
      <div class="input-field">
        <div class="left-input-icon">
          <div class="icon">
            <div class="utility-icons-search">
              <div class="icon-1"></div>
            </div>
          </div>
        </div>
        <span class="input-content">Search</span>
      </div>
      <input class="input" />
    </div>
    <div class="header-icons">
      <div class="einstien">
        <div class="button-icon-container">
          <div class="icon-2">
            <div class="icon-3"></div>
          </div>
        </div>
      </div>
      <div class="split-button">
        <div class="grouped-buttons">
          <div class="main-button">
            <div class="container">
              <div class="icon-4">
                <div class="icon-5"></div>
              </div>
            </div>
          </div>
          <div class="menu-button">
            <div class="container-6">
              <div class="icon-7">
                <div class="icon-8"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-icon">
        <div class="icon-9"></div>
      </div>
      <div class="trailhead-icon">
        <div class="icon-a"></div>
      </div>
      <div class="question-icon">
        <div class="icon-b"></div>
      </div>
      <div class="setup-icon">
        <div class="icon-c"></div>
      </div>
      <div class="notification-icon">
        <div class="icon-d"></div>
      </div>
      <div class="avatar"></div>
    </div>
  </div>
  <!-- 
                      Header With Nebula Logo End
              -->

  <!-- 
                      Global Navigation Start
                  -->
  <div class="global-navigation">
    <div class="tabs">
      <div class="global-navigation-app-name">
        <div class="untracked-icon-waffle"></div>
        <span class="label-text-community">Community</span>
      </div>
      <div class="tab">
        <div class="global-nav-tab-parent">
          <div class="icon-label">
            <span class="label-text-home">Home</span>
          </div>
          <div class="base-button-icon">
            <div class="button-icon-container-e">
              <div class="utility-icons-switch">
                <div class="icon-f"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar">
          <div class="border"></div>
        </div>
      </div>
      <div class="tab-10">
        <div class="global-navigation-tab-parent">
          <div class="icon-label-11">
            <span class="label-text-accounts">Accounts</span>
          </div>
          <div class="base-button-icon-12">
            <div class="button-icon-container-13">
              <div class="utility-icons-switch-14">
                <div class="icon-15"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-16">
          <div class="border-17"></div>
        </div>
      </div>
      <div class="tab-18">
        <div class="global-nav-tab-parent-19">
          <div class="icon-label-1a">
            <span class="label-text-contacts">Contacts</span>
          </div>
          <div class="base-button-icon-1b">
            <div class="button-icon-container-1c">
              <div class="utility-icons-switch-1d">
                <div class="icon-1e"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-1f">
          <div class="border-20"></div>
        </div>
      </div>
      <div class="tab-21">
        <div class="global-nav-tab-parent-22">
          <div class="icon-label-23">
            <span class="label-text-service">Service</span>
          </div>
          <div class="base-button-icon-24">
            <div class="button-icon-container-25">
              <div class="utility-icons-s-switch">
                <div class="icon-26"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-27">
          <div class="border-28"></div>
        </div>
      </div>
      <div class="tab-29">
        <div class="global-nav-tab-parent-2a">
          <div class="icon-label-2b">
            <span class="label-text">Sales</span>
          </div>
          <div class="base-button-icon-2c">
            <div class="button-icon-container-2d">
              <div class="utility-icons-s-switch-2e">
                <div class="icon-2f"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-30">
          <div class="border-31"></div>
        </div>
      </div>
      <div class="tab-32">
        <div class="global-nav-tab-parent-33">
          <div class="icon-label-34">
            <span class="label-text-35">Reports</span>
          </div>
          <div class="base-button-icon-36">
            <div class="button-icon-container-37">
              <div class="utility-icons-s-switch-38">
                <div class="icon-39"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-3a">
          <div class="border-3b"></div>
        </div>
      </div>
      <div class="overflow-tab">
        <div class="global-navigation-tab-parent-3c">
          <div class="icon-label-3d">
            <span class="label-text-3e">E Sign Center</span>
          </div>
          <div class="base-button-icon-3f">
            <div class="button-icon-container-40">
              <div class="utility-icons-s-switch-41">
                <div class="icon-42"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="context-bar-43">
          <div class="border-44"></div>
        </div>
      </div>
    </div>
    <div class="edit-button-icon">
      <div class="button-icon-container-45">
        <div class="icon-46">
          <div class="icon-47"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
                      Global Navigation End
                  -->

  <!-- 
                  Global Subtab Start
                  -->
  <div class="global-navigation-console-subtab">
    <div class="subtab">
      <div class="global-nav-tab-parent-49">
        <div class="icon-label-4a">
          <span class="label-text-4b">Staff Department Mapping</span>
        </div>
      </div>
    </div>
    <div class="subtab-4c">
      <div class="global-navigation-tab-parent-4d">
        <div class="icon-label-4e">
          <span class="label-text-4f">Student Document Assignment</span>
        </div>
      </div>
    </div>
    <div class="subtab-50">
      <div class="global-nav-tab-parent-51">
        <div class="icon-label-52">
          <div class="icon-container">
            <div class="utility-icon">
              <div class="icon-53"></div>
            </div>
          </div>
          <span class="label-text-54">Student Details</span>
        </div>
        <div class="close-button-icon">
          <div class="button-icon-container-55">
            <div class="utility-icons-c-close">
              <div class="icon-56"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
                  Global Subtab End
                  -->
  <div class="rectangle-student-detail">
    <span class="student-details">Student Details</span>
    <div class="student-table">
      <div class="student-table-header">
        <div class="st-header-name">
          Name
        </div>
        <div class="st-header-name">
          Student ID
        </div>
        <div class="st-header-name">
          Campus Code
        </div>
        <div class="st-header-name">
          Program Code
        </div>
        <div class="st-header-name">
          Start Date
        </div>
        <div class="st-header-name">
          Graduation Date
        </div>
        <div class="st-header-name">
          Campus Status
        </div>

      </div>
      <div class="student-detail-table-row">
        <div class="std-row-name">
          <span class="text-olivia-rhye">Sharon Robinson</span>
        </div>
        <div class="std-row-name">
          24RM46006
        </div>
        <div class="std-row-name">
          Austin, Tx
        </div>
        <div class="std-row-name">
          PT2022
        </div>
        <div class="std-row-name">
          04/01/2024
        </div>
        <div class="std-row-name">
          31/03/2026
        </div>
        <div class="std-row-name">
          Active
        </div>

      </div>
    </div>
  </div>
  <div>
    <!-- Tab Area Start -->
    <div class="tab-row">
      <ul class="nav nav-pills mb-3 border-bottom border-2" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link text-primary fw-semibold active position-relative" id="pills-home-tab"
            data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
            aria-selected="true">Assigned Documents</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-primary fw-semibold position-relative" id="pills-profile-tab"
            data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
            aria-selected="false">PDF
            Viewer</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <!-- All Assigned Documents Contents Start -->
          <div class="all-assigndoc">
            <div class="flex-row-ecb">
              <div class="regroup">
                <button class="button-base">
                  <div class="filters-lines">
                    <div class="icon-88"></div>
                  </div>
                  <span class="text-89">Filters</span>
                </button><button class="button-base-8a" data-bs-toggle="modal" data-bs-target="#myModal">
                  <div class="plus-small">
                    <div class="vector"></div>
                  </div>
                  <span class="text-8b">Assign New Document</span>
                </button>
              </div>
              <span class="assigned-documents">Assigned documents</span>
            </div>
            <div class="student-table-document">
              <div class="student-table-header">
                <div class="stda-header-name-dn">
                  Document Name
                </div>
                <div class="stda-header-name">
                  Document Status
                </div>
                <div class="stda-header-name">
                  Assigned Date
                </div>
                <div class="stda-header-name">
                  Assigned By
                </div>
                <div class="stda-header-name">
                  View Doc
                </div>
                <div class="stda-header-name">
                  Email History
                </div>
                <div class="stda-header-name">
                  Remind
                </div>
                <div class="stda-header-name">
                  Workflow
                </div>

              </div>
              <div class="student-table-row" *ngIf="newAssigned == true">
                <div class="stda-row-name-dn">
                  <span class="text-olivia-rhye" style="color: #101828; font-weight: 600;">Alcohol and Drug-Free Campus
                    Policy</span>
                </div>
                <div class=" stda-row-name">
                  Pending
                </div>
                <div class="stda-row-name">
                  15/09/2024
                </div>
                <div class="stda-row-name">
                  Sharon Robinson
                </div>
                <div class="stda-row-name-icons" style="cursor: pointer;">
                  <div class="eye" (click)="getStudentDocumentId()"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="email-history"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="remind"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="workflow-icon"  data-bs-toggle="modal" data-bs-target="#myModalWorkflow"></div>
                </div>

              </div>
              <div class="student-table-row">
                <div class="stda-row-name-dn">
                  <span class="text-olivia-rhye" style="color: #101828; font-weight: 600;">Graduate Verification
                    Survey</span>
                </div>
                <div class=" stda-row-name">
                  Pending
                </div>
                <div class="stda-row-name">
                  15/09/2024
                </div>
                <div class="stda-row-name">
                  Sharon Robinson
                </div>
                <div class="stda-row-name-icons">
                  <div class="eye"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="email-history"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="remind"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="workflow-icon"></div>
                </div>

              </div>
              <div class="student-table-row">
                <div class="stda-row-name-dn">
                  <span class="text-olivia-rhye" style="color: #101828; font-weight: 600;">Same Employer Disclosure
                    Online</span>
                </div>
                <div class=" stda-row-name">
                  Pending
                </div>
                <div class="stda-row-name">
                  15/09/2024
                </div>
                <div class="stda-row-name">
                  Sharon Robinson
                </div>
                <div class="stda-row-name-icons">
                  <div class="eye"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="email-history"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="remind"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="workflow-icon"></div>
                </div>

              </div>
              <div class="student-table-row">
                <div class="stda-row-name-dn">
                  <span class="text-olivia-rhye" style="color: #101828; font-weight: 600;">Dallas Campus Relocation
                    Disclosure</span>
                </div>
                <div class=" stda-row-name">
                  Signed
                </div>
                <div class="stda-row-name">
                  15/09/2024
                </div>
                <div class="stda-row-name">
                  Sharon Robinson
                </div>
                <div class="stda-row-name-icons">
                  <div class="eye"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="email-history"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="check"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="check"></div>
                </div>

              </div>

              <div class="student-table-row">
                <div class="stda-row-name-dn">
                  <span class="text-olivia-rhye" style="color: #101828; font-weight: 600;">Dallas Campus Relocation
                    Disclosure</span>
                </div>
                <div class=" stda-row-name">
                  Signed
                </div>
                <div class="stda-row-name">
                  15/09/2024
                </div>
                <div class="stda-row-name">
                  Sharon Robinson
                </div>
                <div class="stda-row-name-icons">
                  <div class="eye"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="email-history"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="remind"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="workflow-icon"></div>
                </div>

              </div>

              <div class="student-table-row">
                <div class="stda-row-name-dn">
                  <span class="text-olivia-rhye" style="color: #101828; font-weight: 600;">Student Action Request</span>
                </div>
                <div class=" stda-row-name">
                  Signed
                </div>
                <div class="stda-row-name">
                  15/09/2024
                </div>
                <div class="stda-row-name">
                  Sharon Robinson
                </div>
                <div class="stda-row-name-icons">
                  <div class="eye"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="email-history"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="check"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="check"></div>
                </div>

              </div>

              <div class="student-table-row">
                <div class="stda-row-name-dn">
                  <span class="text-olivia-rhye" style="color: #101828; font-weight: 600;">Clinical Discharge,Waiver and
                    Release</span>
                </div>
                <div class=" stda-row-name">
                  Pending
                </div>
                <div class="stda-row-name">
                  15/09/2024
                </div>
                <div class="stda-row-name">
                  Sharon Robinson
                </div>
                <div class="stda-row-name-icons">
                  <div class="eye"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="email-history"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="remind"></div>
                </div>
                <div class="stda-row-name-icons">
                  <div class="workflow-icon"></div>
                </div>

              </div>
              <div class="student-table-row" style="text-align: center;" *ngIf="newAssigned == true">
                <span
                  style="padding: 6px;font-size: 0.9rem;background-color: #9efb9e;margin: auto;text-align: center;">Alcohol
                  and Drug-Free Campus Policy added to Sharon Robinson Todo List <a href="">More Information</a></span>
              </div>
            </div>
          </div>
          <!-- All Assigned Documents Contents End -->
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="app" style="display: flex;">

            <div style="width: 100%;">

              <button (click)="downloadPdf()" class="primary" style="float: right;">Download Document</button>
              <button (click)="submitDocument()" class="primary" style="float: right;">Submit Document</button>
              <div id="pspdfkit-container"
                style="width: 100%; height: 90vh;margin-top:50px;margin-left: 50px;float: right;">
              </div>
              <ul id="autocomplete-dropdown" class="autocomplete-dropdown" style="display: none;"></ul>


            </div>
          </div>

          <!-- <p>PDF Viewer Contents Will Come.</p>
          <div class="image">
            <div class="flex-column-dd">
              <div class="rectangle-97"></div>
              <span class="text-98">Alcohol and Drug-Free Campus Policy</span>
            </div>
            <div class="rectangle-99"></div>
            <div class="rectangle-9a"></div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- Tab Area End -->

  </div>
</div>



<!-- </body>
</html> -->

<!-- The Modal Popup-->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg" style="max-width: 932px;">
    <div class="modal-content" style="border-radius: 32px;">

      <!-- Modal Header -->
      <div class="modal-header" style="border: none;">
        <h4 class="modal-title" style="font-size: 18px;">Assign New Document</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="group-8b">
          <div class="flex-row-bbd">
            <div class="table-header-cell-8c-pop">
              <div class="table-header-8d-pop">
                <span class="text-8e-pop">Document Name</span>
              </div>
            </div>
            <div class="table-header-cell-8f-pop">
              <div class="table-header-90-pop">
                <span class="text-91">View Doc</span>
              </div>
            </div>
            <div class="table-header-cell-92-pop">
              <div class="table-header-93">
                <span class="text-94">Actions</span>
              </div>
            </div>
          </div>
          <div class="flex-row-ce">
            <div class="table-cell-95-pop">
              <div class="text-and-supporting-text-96">
                <span class="text-97-pop">Alcohol and Drug-Free Campus Policy</span>
              </div>
            </div>
            <div class="table-cell-98">
              <div class="text-and-supporting-text-99">
                <div class="eye-pop"></div>
              </div>
            </div>
            <div class="table-cell-9aa">
              <button class="button-base" data-bs-toggle="modal" data-bs-target="#myModalAssign">
                <div class="file-export">
                  <div class="vector-9b"></div>
                </div>
                <span class="send">Send</span>
              </button>
              <button class="button-base-9c" data-bs-toggle="modal" data-bs-target="#myModalWorkflow">
                <div class="user-add"></div>
                <span class="text-9d">Assign Workflow</span>
              </button>
            </div>
          </div>
          <div class="flex-row-fc-pop">
            <div class="table-cell-9e">
              <div class="text-and-supporting-text-9f">
                <span class="text-a0">F-1 Concurrent Enrollment Request Form</span>
              </div>
            </div>
            <div class="table-cell-a1-pop">
              <div class="text-supporting">
                <div class="eye-a2"></div>
              </div>
            </div>
            <div class="table-cell-a3">
              <button class="button-base-a4">
                <div class="file-export-a5">
                  <div class="vector-a6"></div>
                </div>
                <span class="text-send">Send</span>
              </button><button class="button-base-a7">
                <div class="user-add-a8"></div>
                <span class="assign-workflow">Assign Workflow</span>
              </button>
            </div>
          </div>
          <div class="flex-row-b-pop">
            <div class="table-cell-a9">
              <div class="text-supporting-aa">
                <span class="bridge-course-request">Bridge Course Request Form</span>
              </div>
            </div>
            <div class="table-cell-ab">
              <div class="text-supporting-ac">
                <div class="eye-ad"></div>
              </div>
            </div>
            <div class="table-cell-ae">
              <button class="button-base-af">
                <div class="file-export-b0">
                  <div class="vector-b1"></div>
                </div>
                <span class="text-send-b2">Send</span>
              </button><button class="button-base-b3">
                <div class="user-add-b4"></div>
                <span class="assign-workflow-b5">Assign Workflow</span>
              </button>
            </div>
          </div>
          <div class="flex-row-ae">
            <div class="table-cell-b6">
              <div class="text-supporting-b7">
                <span class="exam-date-change">Exam Date Change Request Form</span>
              </div>
            </div>
            <div class="table-cell-b8-pop">
              <div class="text-supporting-b9">
                <div class="eye-ba"></div>
              </div>
            </div>
            <div class="table-cell-bb-pop">
              <button class="button-base-bc">
                <div class="file-export-bd">
                  <div class="vector-be"></div>
                </div>
                <span class="text-send-bf">Send</span>
              </button><button class="button-base-c0">
                <div class="user-add-c1"></div>
                <span class="assign-workflow-c2">Assign Workflow</span>
              </button>
            </div>
          </div>
          <div class="flex-row-b-c3-pop">
            <div class="table-cell-c4">
              <div class="text-supporting-c5">
                <span class="inter-campus-registration">Inter Campus Registration Request</span>
              </div>
            </div>
            <div class="table-cell-c6">
              <div class="text-supporting-c7">
                <div class="eye-c8"></div>
              </div>
            </div>
            <div class="table-cell-c9-pop">
              <button class="button-base-ca">
                <div class="file-export-cb">
                  <div class="vector-cc"></div>
                </div>
                <span class="text-send-cd">Send</span>
              </button>
              <button class="button-base-ce">
                <div class="user-add-c1"></div>
                <span class="assign-workflow-c2">Assign Workflow</span>
              </button>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

<!-- =============================== -->

<!-- The Modal Popup Assign-->
<div class="modal" id="myModalAssign">
  <div class="modal-dialog modal-sm" style="max-width: 374px;">
    <div class="modal-content" style="border-radius: 32px;">
      <!-- Modal body -->
      <div class="modal-body" style="padding-top: 40px!important;">
        <div class="modal-small">
          <div class="content-small">
            <div class="featured-icon-small">
              <div class="file-export-small">
                <div class="vector-small"></div>
              </div>
            </div>
            <div class="text-and-supporting-text-89-small">
              <span class="text-8a-small">Assign Document?</span><span class="supporting-text-8b-small">Are you sure to
                assign “Alcohol and Drug-Free Campus Policy” to
                Sharon Robinson?</span>
            </div>
          </div>
          <div class="modal-actions-small">
            <button class="button-small">
              <div class="button-base-small">
                <span class="text-8c-small">Discard</span>
              </div>
            </button><button class="button-8d-small " id="assignnewdoc" (click)="AssignDoc()" data-bs-dismiss="modal">
              <div class="button-base-8e-small"><span class="text-8f-small">Yes</span></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =============================== -->
<!--   myModalWorkflow -->
<!-- The Modal Popup Assign Workflow-->
<div class="modal" id="myModalWorkflow">
  <div class="modal-dialog modal-lg" style="max-width: 1061px;">
    <div class="modal-content" style="border-radius: 32px;">

      <!-- Modal Header -->
      <div class="modal-header" style="border: none;">
        <h4 class="modal-title" style="font-size: 18px;">
          <div class="arrow-left-workflow" style="float: left;margin-right: 10px;">
            <div class="vector-workflow"></div>
          </div>Assign Workflow
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="frame-89-workflow">
          <div class="group-8a-workflow">

            <div class="table-header-cell-8f-workflow">
              <div class="table-header-90-workflow">
                <span class="text-91-workflow">Document Name: Alcohol and Drug-Free Campus Policy</span>
              </div>
            </div>
          </div>
          <div class="frame-92-workflow">
            <div class="frame-93-workflow">
              <div class="table-header-cell-94-workflow">
                <div class="table-header-95-workflow">
                  <span class="text-96-workflow">Seq</span>
                </div>
              </div>
              <div class="table-header-cell-97-workflow">
                <div class="table-header-98-workflow">
                  <span class="text-99-workflow">Description</span>
                </div>
              </div>
              <div class="table-header-cell-9a-workflow">
                <div class="table-header-9b-workflow">
                  <span class="text-9c-workflow">Type</span>
                </div>
              </div>
              <div class="table-header-cell-9d-workflow">
                <div class="table-header-9e-workflow">
                  <span class="text-9f-workflow">Email</span>
                </div>
              </div>
              <div class="table-header-cell-a0-workflow">
                <div class="table-header-a1-workflow">
                  <span class="text-a2-workflow">Actions</span>
                </div>
              </div>
            </div>
            <div class="frame-a3-workflow">
              <div class="table-cell-a4-workflow">
                <div class="menu-burger-workflow"></div>
              </div>
              <div class="table-cell-a5-workflow">
                <div class="text-and-supporting-text-a6-workflow">
                  <span class="text-a7-workflow">Student</span>
                </div>
              </div>
              <div class="table-cell-a8-workflow">
                <div class="checkbox-a9-workflow">
                  <div class="checkbox-aa-workflow">
                    <div class="checkbox-base-ab-workflow">
                      <div class="check-workflow">
                        <div class="icon-ac-workflow"></div>
                      </div>
                    </div>
                  </div>
                  <span class="text-person-name-workflow">Person Name</span>
                </div>
                <div class="checkbox-ad-workflow">
                  <div class="checkbox-ae-workflow">
                    <div class="checkbox-base-af-workflow"></div>
                  </div>
                  <span class="text-group-email-workflow">Group Email</span>
                </div>
              </div>
              <div class="table-cell-b0-workflow">
                <div class="text-and-supporting-text-b1-workflow">
                  <span class="text-olivia-nebulaedge-edu-workflow">Olivia&#64;nebulaedge.edu</span>
                </div>
              </div>
              <div class="table-cell-b2-workflow">
                <div class="trash-workflow"></div>
              </div>
            </div>
            <div class="frame-b3-workflow">
              <div class="table-cell-b4-workflow">
                <div class="menu-burger-b5-workflow"></div>
              </div>
              <div class="table-cell-b6-workflow">
                <div class="text-and-supporting-text-b7-workflow">
                  <span class="text-university-registrar-workflow">University Registrar</span>
                </div>
              </div>
              <div class="table-cell-b8-workflow">
                <div class="checkbox-b9-workflow">
                  <div class="checkbox-ba-workflow">
                    <div class="checkbox-base-bb-workflow">
                      <div class="check-bc-workflow">
                        <div class="icon-bd-workflow"></div>
                      </div>
                    </div>
                  </div>
                  <span class="text-person-name-be-workflow">Person Name</span>
                </div>
                <div class="checkbox-bf-workflow">
                  <div class="checkbox-c0-workflow">
                    <div class="checkbox-base-c1-workflow"></div>
                  </div>
                  <span class="text-group-email-c2-workflow">Group Email</span>
                </div>
              </div>
              <div class="table-cell-c3-workflow">
                <div class="text-and-supporting-text-c4-workflow">
                  <span class="text-stacey-nebulaedge-edu-workflow">Stacey&#64;nebulaedge.edu</span>
                </div>
              </div>
              <div class="table-cell-c5-workflow">
                <div class="trash-c6-workflow"></div>
              </div>
            </div>
            <div class="frame-c7-workflow">
              <div class="table-cell-c8-workflow">
                <div class="menu-burger-c9-workflow"></div>
              </div>
              <div class="table-cell-ca-workflow">
                <div class="text-and-supporting-text-cb-workflow">
                  <span class="text-academic-dean-workflow">Academic Dean</span>
                </div>
              </div>
              <div class="table-cell-cc-workflow">
                <div class="checkbox-cd-workflow">
                  <div class="checkbox-ce-workflow">
                    <div class="checkbox-base-cf-workflow">
                      <div class="check-d0-workflow">
                        <div class="icon-d1-workflow"></div>
                      </div>
                    </div>
                  </div>
                  <span class="text-person-name-d2-workflow">Person Name</span>
                </div>
                <div class="checkbox-d3-workflow">
                  <div class="checkbox-d4-workflow">
                    <div class="checkbox-base-d5-workflow"></div>
                  </div>
                  <span class="text-group-email-d6-workflow">Group Email</span>
                </div>
              </div>
              <div class="table-cell-d7-workflow">
                <div class="text-and-supporting-text-d8-workflow">
                  <span class="text-andrei-nebulaedge-edu-workflow">Andrei&#64;nebulaedge.edu</span>
                </div>
              </div>
              <div class="table-cell-d9-workflow">
                <div class="trash-da-workflow"></div>
              </div>
            </div>
          </div>
          <div class="frame-db-workflow">
            <button class="button-workflow">
              <div class="button-base-workflow">
                <span class="text-add-more-workflow">Add More</span>
              </div>
            </button><button class="button-dc-workflow">
              <div class="button-base-dd-workflow">
                <span class="text-update-work-flow-workflow">Update Work Flow</span>
              </div>
            </button>
          </div>
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>
<!-- =============================== -->